@model ProjektMAS.Models.Match

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Match</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Team)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Team.TeamName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hall)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hall.HallName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpponentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpponentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataSince)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataSince)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataUntill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataUntill)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            Referee ID
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Referee.PersonID)
        </dd>
       
    </dl>
</div>
<div>
   
    <a asp-action="Index">Back to List</a>
</div>
