@model IEnumerable<ProjektMAS.Models.Person>

@{
    ViewData["Title"] = "Index";
}

<h1>List of People</h1>

<p>
    <a asp-action="Create">Create New Person</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pesel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RefereeCardID)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @item.DateOfBirth.Date.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pesel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonType)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.RefereeCardID)
            </td>
      
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersonID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PersonID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
